.form-custom {
  margin: -10px auto;
  max-width: 350px;
}

.form-layout {
  margin: 15px auto;
  border: 1px solid #ADD8E6;
  max-width: 380px;
  border-radius: 2px;
  margin-bottom: 8px;
  background-color: white;
  height: 400px;
}

